.shortbio-component {
  background-color: black;
  padding-bottom: 3rem;
}

.shortbio-container {
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* background: linear-gradient(
      rgba(1, 23, 5, 0.7), 
      rgba(1, 23, 5, 0.7)), url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.short-bio {
  margin: 2rem 0.5rem;
  background-color: #000;
  padding: 0 0 1rem 0;
  max-height: 350px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.bio-name {
  margin: 5px 0;
  color: #fff;
}

.short-bio-image {
  height: 240px;
  width: 180px;
}

.bio-links {
  color: #fff;
}

.short-info {
  width: 275px;
}

