.inquiry-form-component {
  min-height: 75vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.inquiry-form {
  min-width: fit-content;
  width: 75%;
  margin: 0 auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 1rem 0;
}

.inquiry-form-sections {
  display: flex;
}

.inquiry-form label {
  margin: 0 1rem;
  width: 20%;
  text-align: left;
}

.inquiry-form-inputs {
  width: 65%;
}

.inquiry-form textarea {
  width: 65%;
}

.inquiry-submit-button {
  width: 20%;
  margin: 0 auto;
  background-color: lightslategray;
  color: white;
}

.inquiry-submit-button:hover {
  cursor: pointer;
  border: 1px red solid;
}

@media screen and (max-width: 490px) {
  .inquiry-form-component {
  min-height: 70vh;
}

  .inquiry-form label {
    font-size: 0.75rem;
  }

  .inquiry-form {
    padding: 0;
    border: none;
  }

  .inquiry-form-inputs {
  width: 55%;
}

.inquiry-form textarea {
  width: 55%;
}

  .inquiry-submit-button {
  font-size: 0.75rem;
  }
}

