.threat-component {
  min-height: 75vh;
  background-color: #000;
  background: linear-gradient(
      rgba(1, 23, 5, 0.7), 
      rgba(1, 23, 5, 0.7)), url('http://4.bp.blogspot.com/-OvFJjolETyI/VjnY-ovKhMI/AAAAAAAAA18/2eojA8BhpSA/s1600/0_1439cb_df14ef5f_orig.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
}

.threat-header {
  text-decoration: underline;
  margin: 0;
}

.threat-text {
  color: #fff;
}

.threat-paragraph {
  width: 100%;
  margin: 1rem auto 0 auto;
  text-align: left;
  padding-bottom: 2rem;
}