* {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
}

.header-title {
  font-size: 2rem;
  font-weight: 700;
}

.App {
  text-align: center;
  border: 20px solid #002868;
}

.App-header {
  background-color: #000;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 15px;
}

.menu-button {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
}

.responsive-header-bar {
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 21%;
  position: absolute;
  right: 20px;
}

.responsive-header-bar-nav-links {
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

.app-body {
  min-height: 82vh;
  background: linear-gradient(
      rgba(1, 23, 5, 0.7), 
      rgba(1, 23, 5, 0.7)), url('https://c1.staticflickr.com/7/6104/6295798405_f0ea7edb41_b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-paragraph {
  color: #fff;
  margin: 1rem auto 0 auto;
  width: 57%;
  text-align: left;
}

.menu-button {
  font-weight: 500;
}