* {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 19px;
}

.quint-logo {
  text-align: left;
}

.header-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0;
}

.header-subtitle {
  margin-top: 0;
  font-size: 0.7rem;
  font-style: italic;
}

.App {
  text-align: center;
  border: 2rem solid #002868;
}

.App-header {
  background-color: #000;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 15px;
}

.menu-button {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
}

.responsive-header-bar {
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 21%;
  position: absolute;
  right: 2rem;
}

.responsive-header-bar-nav-links {
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

.responsive-header-bar-nav-links:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}

.app-body {
  min-height: 75vh;
  background: linear-gradient(
      rgba(1, 23, 5, 0.7), 
      rgba(1, 23, 5, 0.7)), url('../../assets/moscow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
}

.blur-bg {
  width: 70%;
  margin: 0 auto 0 auto;
  min-height: fit-content;
  background: rgba(1, 23, 5, 0.75);
  padding: 1rem;
}

.home-paragraph {
  color: #fff;
  margin: 1rem auto 0 auto;
  text-align: left;
  padding-bottom: 2rem;
}

.menu-button {
  font-weight: 500;
}

@media screen and (max-width: 650px) {

  .header-title {
    font-size: 1.4rem;
  }

  .header-subtitle {
    display: none;
  }

  .menu-button {
  font-size: 0.8rem;
}

  .responsive-header-bar {
  width: 31%;
}

.responsive-header-bar-nav-links {
  font-size: 0.8rem;
}
}