.contact-component {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-around;
  min-height: 82vh;
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

.contact-card {
  width: 30%;
  height: fit-content;
  margin-left: 1rem;
}

@media screen and (max-width: 900px) {
  .contact-text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 650px) {
  .contact-card {
    width: 80%;
  }

  .contact-component {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .contact-text {
    font-size: 0.65rem;
  }
}
