.contact-component {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-around;
  min-height: 82vh;
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

.contact-card {
  width: 30%;
  height: fit-content;
  margin-left: 1rem;
}

