.groupinfo-component {
  min-height: 80vh;
  background: linear-gradient(
      rgba(1, 23, 5, 0.7), 
      rgba(1, 23, 5, 0.7)), url('https://cdn2.img.sputniknews.com/images/105748/78/1057487878.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.groupinfo-header {
  text-decoration: underline;
  margin: 0;
  padding: 3rem 0 0 0;
}

.groupinfo-text {
  color: #fff;
}

.groupinfo-paragraph {
  width: 57%;
  margin: 1rem auto 0 auto;
  text-align: left;
}

.bottom {
  padding-bottom: 2rem;
}

.group-link {
  color: red;

}