.groupinfo-component {
  min-height: 75vh;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.groupinfo-pic {
  background: linear-gradient(
      rgba(1, 23, 5, 0.7), 
      rgba(1, 23, 5, 0.7)), url('../../assets/group.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-pic {
  background: linear-gradient(
      rgba(1, 23, 5, 0.7), 
      rgba(1, 23, 5, 0.7)), url('../../assets/products.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.groupinfo-header {
  width: 100%;
  text-decoration: underline;
  margin: 0;
}

.groupinfo-text {
  color: #fff;
  font-size: 1.1rem;
}

.groupinfo-paragraph {
  text-align: left;
}

.bottom {
  padding-bottom: 2rem;
}

.group-link {
  color: red;
}